
<DOCTYPE hmtl>
<html>
	<head>
		<title>
			Create Post Page
		</title>
		
	
	</head>

		<body>
			<h3> 
				What's on your mind?
			</h3>
			</br>

			<form method="POST" ACTION="/create-post">
				<label for="post_title">Post Title</lable>
				<input type="text" name="[post]post_title">
				<label for="body">Write your post here:</lable>
				<input type="textarea" name="[post]body">	

				<input type="submit">
			</form>
		</body>

</html>