<DOCTYPE hmtl>
<html>
	<head>
		<title>
			Home Page
		</title>
	
	
	</head>
		<body>
			<h2>
				Welcome to Overshare.com!
			</h2>
			<h4>
				Sign into your account below
			</h4>
			<form method="POST" ACTION="/sign-in">
				<label for="username">Username</lable>
				<input type="text" name="username">
				<label for="password">Password</lable>
				<input type="password" name="password">				
				<label for="email">Email</lable>
				<input type="email" name="email">
				<input type="submit">
			</form>

			<h6>
				New to Overshare?  No problem!  Create a new account below for free
			</h6>
			<button>
				<a href="http://localhost:4567/sign_up">Create New Account</a>
			</button>
		</body>

</html>